<form class="uesrpg-sheet" autocomplete="off">
  <header class="uesrpg-sheet__header">
    <img class="uesrpg-sheet__portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

    <div>
      <div class="uesrpg-sheet__title-row">
        <div class="uesrpg-sheet__type">{{typeLabel}} - {{sheetTitle}}</div>
      </div>

      <input class="uesrpg-sheet__name" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'UESRPG.Fields.name'}}" />
    </div>
  </header>

  <section class="uesrpg-sheet__grid">
    <article class="uesrpg-card">
      <h2 class="uesrpg-card__heading">{{localize 'UESRPG.Sections.details'}}</h2>

      <div class="uesrpg-field-grid uesrpg-field-grid--two">
        <label class="uesrpg-field">
          <span>{{localize 'UESRPG.Fields.quantity'}}</span>
          <input name="system.quantity" type="number" value="{{system.quantity}}" min="0" />
        </label>

        <label class="uesrpg-field">
          <span>{{localize 'UESRPG.Fields.weight'}}</span>
          <input name="system.weight" type="number" value="{{system.weight}}" min="0" step="any" />
        </label>
      </div>

      {{#each subtypeFields as |field|}}
        {{#if field.isCheckbox}}
          <label class="uesrpg-field uesrpg-field--checkbox">
            <input name="system.{{field.key}}" type="checkbox" {{checked field.value}} />
            <span>{{field.label}}</span>
          </label>
        {{else}}
          <label class="uesrpg-field">
            <span>{{field.label}}</span>
            <input name="system.{{field.key}}" type="{{field.inputType}}" value="{{field.value}}" />
          </label>
        {{/if}}
      {{/each}}
    </article>

    <article class="uesrpg-card">
      <h2 class="uesrpg-card__heading">{{localize 'UESRPG.Sections.description'}}</h2>

      <label class="uesrpg-field">
        <span>{{localize 'UESRPG.Fields.description'}}</span>
        <textarea name="system.description">{{system.description}}</textarea>
      </label>
    </article>
  </section>
</form>
